# [!NOTE]
# Read the `docs/configuration_guide.md` carefully, and update the configurations to match your specific settings and requirements.
# - Replace `api_key` with your own credentials
# - Replace `base_url` and `model` name if you want to use a custom model

BASIC_MODEL:
  AZURE:
    base_url: "https://your-endpoint.openai.azure.com/"
    model: "gpt-4o"
    api_key: xxxx
    api_version: "2024-10-21"
  # If you need OpenAI configuration, uncomment the following
  # OPENAI:
  #   base_url: https://ark.cn-beijing.volces.com/api/v3
  #   model: "doubao-1-5-pro-32k-250115"
  #   api_key: xxxx

